/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require bootstrap
 *= require_self
 */

/* ************************** Color choices ******************* */
 /* primary = #9C27B0
   primary dark = #7B1FA2
   accent = #4DD0E1
   dark accent = #EC407A */

/* *********************** Global settings *********************/
a:hover {
  background-color: transparent;
  text-decoration: none;
  color: #9C27B0;
  opacity: 0.7;
}
a {
  text-decoration: none;
  color: #9C27B0;
}

/* --------------- Over write Bootstrap --------------------- */

.btn-primary {
  background-color: #4DD0E1;
  border: none;
}

.btn-primary:hover {
  background-color: #4DD0E1;
  color: white;
  opacity: 0.57;
  border: none;
}

.btn-default:hover {
  background-color: #4DD0E1;
  opacity: 0.57;
}

.btn {
  background-color: #4DD0E1;
  /*opacity: 0.57;*/
}

.btn-sucess {
  background-color: #4DD0E1;
}


/* --------------------- index page -----------------------------/
/* item header */

.filter-icon {
  float: right;
  margin-bottom: 20px;
  margin-right: 15px;
}

.filter {
  /*display: none;*/
  margin-bottom: 20px;
  /*background: #9C27B0;*/
}

.item-wrapper {
  border: 5px solid #7B1FA2;
  padding: 10px 10px 10px 10px;
  border-radius: 7px;
  margin-bottom: 40px;
}

.item-header{
  padding-bottom: 15px;
  border-bottom: 1px dashed #4DD0E1;
}

.item-header h3{
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #9C27B0;
  color: white;
  opacity: 0.87;
}

.item-image{
  width: 100%;
  height: 200px;
}

.item-details {
  padding-top: 15px;
  opacity: 0.87;
}

.btn-wrapper {
  margin-top: 20px;
}

/************************** Sign In ***********************/
.facebook-log-in {
  margin-left: 25%;
  background-color: #3b5998;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 50%;
}

.facebook-log-in a {
  color: white;
}
